include LICENSE
include README.md
include PUBLISH.md
include CHANGELOG.md
include pyproject.toml
include setup.py
include .gitignore

include aimodelguard/py.typed

recursive-include aimodelguard *.py
include docs/*.pdf

global-exclude __pycache__
global-exclude *.py[cod]
global-exclude *.so
global-exclude .DS_Store
global-exclude *.egg-info
global-exclude build
global-exclude dist
